<section class="bg-dusty text-plum">
  <div class="text-center max-full mx-auto md:max-w-7xl px-4 md:px-20 py-32">
    <p class="mb-4 eyebrow">Fan Merch & Clothing</p>
    <p class="mb-4 display text-2xl">The Extended Universe</p>
    <div class="md:flex items-top my-16">
    {% for product in collections['J311YB34NZ'].products limit:4 %}
      <div class="item md:mx-4 mb-16 md:mb-2">
        {% if product.featured_image %}
          {% render 'image',
            class: 'aspect-portrait media-container shadow-theme mb-4',
            image: product.featured_image,
            url: product.url,
            width: 400,
            height: 720,
            crop: 'center'
          %}
        {% endif %}
        <div class="collection-product__content">
          <p class="font-bold text-lg">{{ product.title | escape | link_to: product.url }}</p>
          <p>
            {% if product.price_min < product.price_max %}
              {{ product.price_min | money }} – {{ product.price_max | money }}
            {% else %}
              {{ product.price | money }}
            {% endif %}
          </p>
        </div>
      </div>
    {% endfor %}
    </div>
    <a href="/collections/all" class="btn-secondary">
      Browse All Products
    </a>
  </div>
</section>
<div class="waves-divider">
  {% render 'divider-dusty-white.liquid' %}
</div>