
{% assign bg = 'beach-marii.jpg' | asset_url %}
<section style="background-image: url('{{ bg }}');" class="relative bg-right bg-cover bg-fixed bg-center bg-no-repeat bg-brand text-plum">
  <div class="text-center max-full mx-auto md:max-w-7xl px-4 py-24 md:px-8 md:py-32">
    <h2 class="text-3xl md:text-7xl display mix-blend-multiply mb-12">Art that makes you <span class="italic">feel things</span> you didn't budget for.</h2>
    <a href="/collections/all" class="btn-primary">
      Browse Products
    </a>
  </div>
  <div class="absolute bottom-0 left-0 right-0">
    {% render 'divider-transparent-muted.liquid' %}
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Your tagline here"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Hero Image"
    }
  ],
  "presets": [
    {"name": "Hero"}
  ]
}
{% endschema %}