<section class="bg-white text-plum">
  <div class="text-left max-full mx-auto md:max-w-7xl px-4 md:px-16">
    <div class="grid grid-flow-row-dense grid-cols-1 gap-8 lg:grid-cols-12">
      <div class="lg:col-start-6 lg:col-end-13">
        
        {%- if section.settings.image != blank -%}
          {{
            section.settings.image
            | image_url: width: 1500
            | image_tag:
              loading: 'lazy',
              class: 'your-image',
              widths: '400, 800, 1200, 1500',
              sizes: '100vw'
          }}
        {%- else -%}
        <div class="w-full aspect-video media-container shadow-theme" style="background-image: url({{ 'rir-mockup.jpeg' | asset_url }})">
        </div>
        {%- endif -%}
      </div>
      <div class="flex items-center lg:col-span-4">
        <div>
          <p class="eyebrow">A JJK doujinshi</p>
          <p class="inline-block font-headline text-xl md:text-3xl font-bold uppercase mt-2">Revolution in Rouge</p>
          <p class="inline-block text-sm mt-4">Gojo satoru yearning. Slow burn. The spicy stuff. Everything you've read in fanfiction, but visual.</p>
          <p class="inline-block text-sm mt-2">Early episodes release on Patreon. Physical release coming soon. We're getting there <span class="italic">together</span>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="waves-divider">
  {% render 'divider-white-dusty.liquid' %}
</div>
<section class="bg-dusty text-plum mt-16">
  <div class="text-right max-full mx-auto md:max-w-5xl px-4 md:px-16">
  <div class="flex flex-col md:flex-row gap-4 items-center justify-center">
    <div>
      <p class="font-bold uppercase md:text-3xl font-headline mb-4">Don't miss a drop</p>
      <p>Subscribe to the newsletter and receive exclusive offers, discounts and news. </p>
    </div>
    <div class="w-full md:w-auto md:min-w-lg">
      <div class="klaviyo-form-UkYtUp"></div>
    </div>
  </div>
  </div>
</section>